/*Icon*/

[class*="Icon-"] {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  display: inline-block;
  background-image: url("../images/icon.png");
  background-repeat: no-repeat;
  background-size: 50px auto;
  position: relative;
  background-position-x: 0;
}

.Icon-voice-btn {
  width: 22px;
  height: 22px;
  background-position-y: -22px;
  display: block;
}
.Icon-text-btn {
  width: 22px;
  height: 22px;
  background-position-y: 0px;
  display: block;
}
.Icon-pic-btn {
  width: 22px;
  height: 22px;
  background-position-y: -66px;
  display: block;
}
.Icon-voice {
  background-position: 0 -44px;
  position: absolute;
  top: calc(50% - 0px);
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  left: 4px;
}
.Icon-arrow {
    width: 25px;
    height: 25px;
    background-position-y: -88px;
}
/* ========================================================== */
