/*登录 注册*/

.inp-block {
  border: 1px solid #d9d9d9;
  border-radius: 1px;
  padding: 0 10px;
  input,
  select,
  textarea {
    padding: 12px 0;
    width: 100%;
    border: 0;
  }
}
.logo-wrap{
  padding: 10% 0 15%;
}
.login-wrap {
  .code-wrap {
    margin-left: 18px;
    max-width: 85px;
    height: 43px;
    img {
      height: 100%;
      width: 100%;
    }
  }
  .ps {
    line-height: 1.2em;
  }
  #agree {
    width: 15px;
    height: 15px;
    vertical-align: middle;
    position: relative;
    top: -1px;
  }
}
//登录的图标
[class*="ico-login"] {
  width: 22px;
  height: 22px;
  vertical-align: middle;
  display: inline-block;
  background-image: url("../images/icon-login.png");
  background-repeat: no-repeat;
  background-size: 22px auto;
  position: relative;
  background-position-x: 0;
  margin-right: 10px;
  &.block{
    display: block;
  }
}
.ico-login2{
  background-position-y: -22px;
}
.ico-login3{
  background-position-y: -44px;
}
//注册协议弹窗
#protocol{
  .weui-popup-modal{
    height: 100vh;
    position: relative;
    padding-bottom: 50px;
    .proto-content{
      padding: 15px;
      height: ~'-webkit-calc(100vh - 50px)';
      height: ~'calc(100vh - 50px)';
      overflow-y: auto;
    }
    .close-popup{
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}
/* ===================================================== */
