.sepc-wrap{
	.popup-content{
		overflow-x: visible;
		overflow-y: visible;
	}
	.sepc-hd {
	  padding-left: 28%;
	}
	.sepc-hd .img-wrap {
	  position: absolute;
	  top: ~"calc(-25% - 15px)";
	  left: 15px;
	}
	.spec{
		max-height: 56vh;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
		overflow-scrolling: touch;
	}
}