/*  */
.order_nav{
	>a{
		padding: 10px 0;
		span{
			line-height: 1em;
			height: 1em;
		}
		&.active{
			color: @color-primary;
			border-bottom: 2px solid @color-primary;
		}
		.hint-num{
			em{
				top:-3px;
				right:-10px;
			}
		}
	}
}
/* ======================================================== */