<!doctype html>
<html>
<head>
	<title>0.1个人注册</title>
<% include _head.html %>
</head>
<body class="bg-f1">

<section class="wrap">


	<section class="main">
		<form action="">
			<div class="flex-box flex-col flex-col-stretch flex-around" style="min-height: 100vh;padding: 30px 0">
				<img src="images/logo1.jpg" alt="" class="block">


				<div class="login-form mt20">
					<ul class="login-form__list bgf fs14">
						<li class="flex-box item bb">
							<div class="w40">
								<i class="ico-login1"></i>
							</div>
							<input type="text" class="form_inp arrowR" placeholder="请选择地区" value="">
						</li>
						<li class="flex-box item bb">
							<div class="w40">
								<i class="ico-login2"></i>
							</div>
							<input type="text" class="form_inp arrowR" placeholder="选择你的学校" value="">
						</li>
						<li class="flex-box item bb">
							<div class="w40">
								<i class="ico-login3"></i>
							</div>
							<input type="text" class="form_inp arrowR" placeholder="选择你的专业" value="">
						</li>
						<li class="flex-box item">
							<div class="w40">
								<i class="ico-login4"></i>
							</div>
							<input type="text" class="form_inp arrowR" placeholder="选择你的所在年级" value="">
						</li>
					</ul>
					<div class="btn-wrap">
						<a href="" class="xilu_btn bg-primary">注册</a>
					</div>
				</div>

			</div>
	</form>
	</section>

</section>

<% include _foot.html %>
</body>
</html>
