<!doctype html>
<html>
<head>
	<title>0.0首页</title>
<% include _head.html %>
</head>
<body>

<section class="wrap">

<% include _foot-fixed-common.html %>

	<section class="main">

		<img src="images/logo.jpg" alt="" class="block">

		<!-- Swiper -->
    <div class="swiper-container index-ban">
        <div class="swiper-wrapper">
        	<div class="swiper-slide">
        		<img src="images/index-ban.jpg" alt="" class="block">
        	</div>
        	<div class="swiper-slide">
        		<img src="images/index-ban.jpg" alt="" class="block">
        	</div>
        	<div class="swiper-slide">
        		<img src="images/index-ban.jpg" alt="" class="block">
        	</div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
    <!-- index end -->

		<div class="mt5 flex-box index-row1 fs15">
			<div class="index-row1__block mr5">
				<a href="" class="flex-box flex-center index-item index-item1 mb5">
					<div class="flex-box">
						<i class="Icon-index1"></i>
						<span>同学圈</span>
					</div>
				</a>
				<!--  -->
				<a href="" class="flex-box flex-center index-item index-item2">
					<div class="flex-box">
						<i class="Icon-index2"></i>
						<span>奖学金</span>
					</div>
				</a>
				<!--  -->
			</div>
			<a href="" class="index-row1__block flex-self-stretch flex-box flex-center index-item index-item3">
				<div class="tc">
					<i class="Icon-index3"></i>
					<span class="mt5">活动预约</span>
				</div>
			</a>
		</div>
		<!-- index-row1 end -->

		<div class="mt5 flex-box index-row2 fs15">
			<a href="" class="index-item index-item4 mr5 flex-box flex-center">
				<div class="tc">
					<i class="Icon-index4"></i>
					<span class="mt5">扫码签到</span>
				</div>
			</a>
			<a href="" class="index-item index-item5 flex-grow-1 flex-box flex-center">
				<div class="tc">
					<i class="Icon-index5"></i>
					<span class="mt5">分享推荐</span>
				</div>
			</a>
		</div>


	</section>

</section>

<% include _foot.html %>
<!-- Initialize Swiper -->
<script>
var swiper = new Swiper('.index-ban', {
    pagination: '.index-ban .swiper-pagination',
    autoplay: 3000,
    loop: true
});
</script>
</body>
</html>
