<!doctype html>
<html>
<head>
	<title>2.1.0活动预约</title>
<% include _head.html %>
</head>
<body>

<section class="wrap">

<% include _foot-fixed-common.html %>

	<section class="main">

		<ul class="act-list p10 fs13">
			<li class="act-item ba mb10 bgf">
				<a href="" class="block">
					<p class="col6">2016年1月31日 15:30</p>
					<p class="col3 fs15 single-line">导游美式口语培训</p>
					<img src="images/act-img1.jpg" alt="" class="block mt5">
					<p class="mt10 single-line col9 pb5 bb-f1">意大利留学新东方口语发音王致力于...</p>
					<p class="col6 mt5">阅读全文</p>
				</a>
			</li>
			<li class="act-item ba mb10 bgf">
				<a href="" class="block">
					<p class="col6">2016年1月31日 15:30</p>
					<p class="col3 fs15 single-line">导游美式口语培训</p>
					<img src="images/act-img2.jpg" alt="" class="block mt5">
					<p class="mt10 single-line col9 pb5 bb-f1">意大利留学新东方口语发音王致力于...</p>
					<p class="col6 mt5">阅读全文</p>
				</a>
			</li>
		</ul>

	</section>

</section>

<% include _foot.html %>

</body>
</html>
