<!doctype html>
<html>
<head>
	<title>2.1.1活动详情</title>
<% include _head.html %>
</head>
<body>

<section class="wrap">

	<div class="bottom-fixed">
		<a href="" class="xilu_btn bg-primary">
			立即预约
		</a>
	</div>

	<section class="main">

		<img src="images/act-ban.jpg" alt="" class="block">

		<div class="p10 bgf bb-f1">
			<p class="fs15 col0">活动主题：Shirley口语语法</p>
			<div class="multi-line mt5 fs12">
				学而思实力派兼幽默派教师，毕业于南开大学，数学功底扎实。曾在北京学而思公开课大赛中获得一等奖...
			</div>
		</div>

		<div class="plr15 pt10 bb-f1 fs13 col3 bgf">
			<p class="fs15">主讲嘉宾</p>
			<div class="last">
				<a href="" class="ptb10 bb-f1 flex-box flex-col-start">
					<div class="item-pic br50 w50 h50 flex-grow-0">
						<img src="images/default-avatar.jpg" alt="" class="block">
					</div>
					<div class="pl10 col0">
						<p class="fs16">Shirley</p>
						<div class="col6 fs13">学而思实力派兼幽默派毕业于南开大学公开课大赛中学而思实力派兼幽公开课大赛中学而思实力派兼幽默派毕业于南开大学公开课大赛中学而思实力派兼幽默派毕业于南开大学公开课大赛中学而思实力派兼幽默派毕业于南开大学公开课大赛中</div>
					</div>
				</a>
				<a href="" class="ptb10 bb-f1 flex-box flex-col-start">
					<div class="item-pic br50 w50 h50 flex-grow-0">
						<img src="images/default-avatar.jpg" alt="" class="block">
					</div>
					<div class="pl10 col0">
						<p class="fs16">Shirley</p>
						<div class="col6 fs13">学而思实力派兼幽默派毕业于南开大学公开课大赛中学而思实力派兼幽公开课大赛中学而思实力派兼幽默派毕业于南开大学公开课大赛中学而思实力派兼幽默派毕业于南开大学公开课大赛中学而思实力派兼幽默派毕业于南开大学公开课大赛中</div>
					</div>
				</a>
			</div>
		</div>
		<div class="p10 plr15 fs14 col6 bgf">
			奖学金额：<span class="blue">286.00元</span>
		</div>

		<ul class="mt10 bgf fs14 col0 last">
			<li class="plr15 ptb10 bb flex-box">
				<div class="w70 col6 flex-grow-0">
					活动时间：
				</div>
				<div class="flex-grow-1 flex-box flex-between col0 hidden">
					<!-- <input type="text"> -->
					<span class="single-line">2017-3-28  16:00-18:00</span>
					<a href="" class="flex-grow-0"><i class="Icon-calendar"></i></a>
				</div>
			</li>
			<li class="plr15 ptb10 bb flex-box">
				<div class="w70 col6 flex-grow-0">
					活动地点：
				</div>
				<div class="col0">
					南京师范大学2号教学楼206室
				</div>
			</li>
			<li class="plr15 ptb10 bb flex-box">
				<div class="w70 col6 flex-grow-0">
					主办方：
				</div>
				<div class="col0">
					南京师范大学
				</div>
			</li>
			<li class="plr15 ptb10 bb flex-box">
				<div class="flex-box w50p">
					<div class="w70 col6 flex-grow-0">
						剩余人数：
					</div>
					<div>20人</div>
				</div>
				<div class="flex-box w50p">
					<div class="w70 col6 flex-grow-0">
						限定人数：
					</div>
					<div>300人</div>
				</div>
			</li>
		</ul>
		<!--  -->
		<div class="mt10 ptb10 bgf plr15">
			<div class="fs14 col0">
				已报名同学
			</div>
			<a href="" class="mt10 block arrowR">
				<ul class="flex-box flex-between pr10 join-list">
					<li class="item-pic block br50">
						<img src="images/default-avatar.jpg" alt="" class="block">
					</li>
					<li class="item-pic block br50">
						<img src="images/default-avatar.jpg" alt="" class="block">
					</li>
					<li class="item-pic block br50">
						<img src="images/default-avatar.jpg" alt="" class="block">
					</li>
					<li class="item-pic block br50">
						<img src="images/default-avatar.jpg" alt="" class="block">
					</li>
					<li class="item-pic block br50">
						<img src="images/default-avatar.jpg" alt="" class="block">
					</li>
				</ul>
			</a>
		</div>

	</section>

</section>

<% include _foot.html %>
<!-- Initialize Swiper -->
</html>
