<!doctype html>
<html>
<head>
	<title>3.1扫码签到</title>
<% include _head.html %>
</head>
<body>

<section class="wrap">

	<section class="main">
		<div class="share-wrap flex-box flex-col flex-col-stretch flex-around">
			<img src="images/share-img1.png" alt="" class="block">
			<div style="padding-bottom: 40px;">
				<img src="images/default-code.jpg" alt="" class="block ma wx-code">
				<div class="mt10 fs12 colf tc">长按此图，识别图片二维码，感受不一样的课程体验！ </div>
			</div>
		</div>

	</section>

</section>

<% include _foot.html %>
</html>
