<!doctype html>
<html>
<head>
	<title>3.2奖学金</title>
<% include _head.html %>
</head>
<body>

<section class="wrap">

	<section class="main">

		<div class="view-head fs16 colf">
			<p class="text-shadow">奖学金总额：<span class="bold fs30">2186.0元</span></p>
			<p class="text-shadow">本月奖学金：2186.0元</p>
			<p class="desc fs14">快去邀请好友一起享受收益吧！</p>
		</div>

		<div class="tab_nav bb table fs14 tc bgf">
			<a href="" class="br table-cell vm active"><span>未打款</span></a>
			<a href="" class="table-cell vm"><span>已打款 </span></a>
		</div>

		<div class="plr15 ptb10 flex-box fs13 col8">
			<img src="images/icon-danger.png" alt="" class="block w15 mr5">
			<p>每月1号发奖学金至微信，请注意查收！</p>
		</div>

		<ul class="view-list last bgf">
			<li class="plr15 p10 flex-box flex-between bb-f1">
				<div>
					<p class="fs15 col3">本人签到</p>
					<p class="fs12 col9">2016-04-12 12:00</p>
				</div>
				<div class="fs20 ora">
					￥1000
				</div>
			</li>
			<li class="plr15 p10 flex-box flex-between bb-f1">
				<div>
					<p class="fs15 col3">同学签到</p>
					<p class="fs12 col9">2016-04-12 12:00</p>
				</div>
				<div class="fs20 ora">
					￥1000
				</div>
			</li>
			<li class="plr15 p10 flex-box flex-between bb-f1">
				<div>
					<p class="fs15 col3">本人签到</p>
					<p class="fs12 col9">2016-04-12 12:00</p>
				</div>
				<div class="fs20 ora">
					￥1000
				</div>
			</li>
		</ul>

	</section>

</section>

<% include _foot.html %>
</html>
