<!doctype html>
<html>
<head>
	<title>4.0.0个人中心</title>
<% include _head.html %>
</head>
<body>

<section class="wrap">

<% include _foot-fixed-common.html %>

	<section class="main">

		<div class="member-head">
			<div class="flex-box">
				<div class="avatar memberDown item-pic br50 flex-grow-0">
					<img src="images/default-avatar.jpg" alt="" class="block">
				</div>
				<div class="pl15 colf fs13 info memberLeft">
					<p class="fs15 pr20">李飞</p>
					<p class="mt5">性别：女</p>
					<p>微信号：amidounuoer</p>
				</div>
			</div>
			<a href="" class="member-head__set colf">
				<i></i>
				<p>设置</p>
			</a>
		</div>
		<!--  -->
		<div class="member-nav flex-box flex-between tc fs12">
			<a href="" class="item flex-box flex-center colf">
				<div class="txt-wrap">
					<p class="fs13 single-line">南京师范大学南京师范大学</p>
					<p>所在学校</p>
				</div>
			</a>
			<a href="" class="item flex-box flex-center colf">
				<div class="txt-wrap">
					<p class="fs13 single-line">室内设计</p>
					<p>所学专业</p>
				</div>
			</a>
			<a href="" class="item flex-box flex-center colf">
				<div class="txt-wrap">
					<p class="fs13 single-line">大学一年级</p>
					<p>所在年级</p>
				</div>
			</a>
		</div>
		<!-- member-nav end -->
		<div class="bgf pr10">
			<a href="" class="block plr15 ptb10 arrowR col0 fs13">
				奖金总额：99.00元
			</a>
		</div>
		<div class="table bgf tc bt fs12 col0">
			<div class="table-cell br vm ptb10">
				<p>
					<span>本月奖励</span>
					<span class="fs16 bold">286.00</span>
				</p>
			</div>
			<div class="table-cell vm ptb10">
				<p>
					<span>推荐奖励</span>
					<span class="fs16 bold">26.00</span>
				</p>
			</div>
		</div>
		<!--  -->
		<div class="mt10">
			<div class="bgf pr10">
				<a href="" class="block plr15 ptb10 arrowR col0 fs13">
					我的活动
				</a>
			</div>
			<div class="relative mem-activity">
				<img src="images/member-img1.jpg" alt="" class="block">
				<div class="txt-wrap">
					<p class="single-line fs14 col3">
						美食英语大比拼
					</p>
					<p class="single-line fs12 col6">
						意大利留学新东方口语发音王致力于...
					</p>
					<p class="fs12 col6">
						<i class="Icon-time"></i>
						2017-01-28 16:00
					</p>
				</div>
			</div>
		</div>

		<div class="mt10 pl15 pr10 ptb10 bgf">
			<div class="bgf col0 fs13">
					我推荐的同学
			</div>
			<a href="" class="mt10 block arrowR">
				<ul class="flex-box flex-between pr10 join-list">
					<li class="item-pic block br50">
						<img src="images/default-avatar.jpg" alt="" class="block">
					</li>
					<li class="item-pic block br50">
						<img src="images/default-avatar.jpg" alt="" class="block">
					</li>
					<li class="item-pic block br50">
						<img src="images/default-avatar.jpg" alt="" class="block">
					</li>
					<li class="item-pic block br50">
						<img src="images/default-avatar.jpg" alt="" class="block">
					</li>
					<li class="item-pic block br50">
						<img src="images/default-avatar.jpg" alt="" class="block">
					</li>
				</ul>
			</a>
		</div>

		<div class="mt10 bgf pr10">
			<a href="" class="block plr15 ptb10 arrowR col0 fs13">
				我的推荐二维码
			</a>
		</div>

	</section>

</section>

<% include _foot.html %>
<!-- Initialize Swiper -->
</body>
</html>
