<!doctype html>
<html>
<head>
	<title>4.0.0个人中心</title>
<% include _head.html %>
</head>
<body>

<section class="wrap">

	<div class="bottom-fixed">
		<a href="" class="xilu_btn bg-primary">
			确认修改
		</a>
	</div>

	<section class="main">

		<form action="">

			<ul class="bgf fs14 col3 item-form user_data">
				<li class="table box-b plr10 bb-f1">
					<div class="table-cell vm col6 item-hd">头　　像</div>
					<div class="table-cell vm">
						<a href="" class="block ptb10 arrowR clearfix">
				      <div class="br50 item-pic mr10 fr">
								<img src="images/default-none-head.png" alt="" class="block">
							</div>
						</a>
					</div>
				</li>
				<li class="table box-b plr10 bb-f1">
					<div class="table-cell vm col6 item-hd">用户昵称</div>
					<div class="table-cell vm">
						<input name="" type="text" class="form_inp tr" placeholder="请输入昵称">
					</div>
				</li>
				<li class="table box-b plr10 bb-f1">
					<div class="table-cell vm col6 item-hd">性别</div>
					<div class="table-cell vm">
						<input name="" type="text" class="form_inp tr" placeholder="请选择" value="">
					</div>
				</li>
				<li class="table box-b plr10 bb-f1">
					<div class="table-cell vm col6 item-hd">微信号</div>
					<div class="table-cell vm">
						<input name="" type="text" class="form_inp tr" placeholder="请输入你的微信号" value="李飞" disabled>
					</div>
				</li>
				<li class="table box-b plr10 bb-f1">
					<div class="table-cell vm col6 item-hd">推荐人</div>
					<div class="table-cell vm">
						<input name="" type="text" class="form_inp tr" placeholder="" value="Amy">
					</div>
				</li>
			</ul>
			<!-- 个人资料填写 end -->

		</form>
	</section>

</section>


<% include _foot.html %>
<!-- Initialize Swiper -->
</body>
</html>
