<!doctype html>
<html>
<head>
	<title>4.0.0个人中心</title>
<% include _head.html %>
</head>
<body>

<section class="wrap">

	<% include _foot-fixed-common.html %>

	<section class="main">

		<a href="" class="ptb10 plr15 bg-primary fs13 colf flex-box flex-between">
			<span>我推荐的同学</span>
			<img src="images/icon-danger-w.png" alt="" class="block w15">
		</a>
		<ul class="user_data">
			<li class="flex-box plr15 ptb10 bgf bb-f1">
				<div class="item-pic br50">
					<img src="images/default-avatar.jpg" alt="" class="block">
				</div>
				<div class="pl15 fs13 col3">
					<p class="fs15 bold col0">用户A</p>
					<p class="mt5">参与活动次数：2221</p>
				</div>
			</li>
			<li class="flex-box plr15 ptb10 bgf bb-f1">
				<div class="item-pic br50">
					<img src="images/default-avatar.jpg" alt="" class="block">
				</div>
				<div class="pl15 fs13 col3">
					<p class="fs15 bold col0">用户A</p>
					<p class="mt5">参与活动次数：2221</p>
				</div>
			</li>
			<li class="flex-box plr15 ptb10 bgf bb-f1">
				<div class="item-pic br50">
					<img src="images/default-avatar.jpg" alt="" class="block">
				</div>
				<div class="pl15 fs13 col3">
					<p class="fs15 bold col0">用户A</p>
					<p class="mt5">参与活动次数：2221</p>
				</div>
			</li>
		</ul>

	</section>

</section>


<% include _foot.html %>
<!-- Initialize Swiper -->
</body>
</html>
