<!doctype html>
<html>
<head>
	<title>4.4历史活动</title>
<% include _head.html %>
</head>
<body>

<section class="wrap">

	<% include _foot-fixed-common.html %>

	<section class="main">

		<div class="flex-box flex-col-stretch bg-primary fs15 activity-nav ptb10">
			<a href="" class="block flex-box flex-center colf active">
				<i class="Icon-act1"></i>
				<span>预约活动</span>
			</a>
			<a href="" class="block flex-box flex-center colf">
				<i class="Icon-act2"></i>
				<span>历史活动</span>
			</a>
		</div>

		<ul class="my-act-list">
			<li class="bgf pl15 relative mb10 item">
				<a href="" class="ptb10 block pr10">
					<p class="fs15 col0">最新活动标题</p>
					<p class="fs14 pb10 bb-f1 mt5 multi-line col6">
						在接近一年前报道称，谷歌正在为Android开发新的VR功能。今年2月，《金融时报》报道称...
					</p>
					<p class="fs12 col9 mt5">活动时间：<span class="col6">2016-05-19  20:10</span></p>
				</a>
				<img src="images/activity-tag-bg1.png" alt="" class="block sign-bg">
			</li>
			<li class="bgf pl15 relative mb10 item">
				<a href="" class="ptb10 block pr10">
					<p class="fs15 col0">最新活动标题</p>
					<p class="fs14 pb10 bb-f1 mt5 multi-line col6">
						在接近一年前报道称，谷歌正在为Android开发新的VR功能。今年2月，《金融时报》报道称...
					</p>
					<p class="fs12 col9 mt5">活动时间：<span class="col6">2016-05-19  20:10</span></p>
				</a>
				<img src="images/activity-tag-bg2.png" alt="" class="block sign-bg">
			</li>
			<li class="bgf pl15 relative mb10 item">
				<a href="" class="ptb10 block pr10">
					<p class="fs15 col0">最新活动标题</p>
					<p class="fs14 pb10 bb-f1 mt5 multi-line col6">
						在接近一年前报道称，谷歌正在为Android开发新的VR功能。今年2月，《金融时报》报道称...
					</p>
					<p class="fs12 col9 mt5">活动时间：<span class="col6">2016-05-19  20:10</span></p>
				</a>
				<img src="images/activity-tag-bg2.png" alt="" class="block sign-bg">
			</li>
			<li class="bgf pl15 relative mb10 item">
				<a href="" class="ptb10 block pr10">
					<p class="fs15 col0">最新活动标题</p>
					<p class="fs14 pb10 bb-f1 mt5 multi-line col6">
						在接近一年前报道称，谷歌正在为Android开发新的VR功能。今年2月，《金融时报》报道称...
					</p>
					<p class="fs12 col9 mt5">活动时间：<span class="col6">2016-05-19  20:10</span></p>
				</a>
				<img src="images/activity-tag-bg2.png" alt="" class="block sign-bg">
			</li>
		</ul>

	</section>

</section>


<% include _foot.html %>
<!-- Initialize Swiper -->
</body>
</html>
