<!doctype html>
<html>
<head>
	<title>2.1b分类-横向滚动</title>
<% include _head.html %>
</head>
<body>

<section class="wrap">

	<% include _foot-fixed-common.html %>
		<section class="top-fixed">
			<form action="">
			<div class="course-nav bgf plr15 flex-box flex-between">
				<!-- <div class="know-nav flex-box">
					<a href="">分类1</a>
					<a href="">分类2</a>
					<a href="">分类3</a>
					<a href="">分类4</a>
					<a href="">分类5</a>
					<a href="">分类6</a>
					<a href="" class="on">分类7</a>
					<a href="" class="">分类8</a>
				</div> -->
				<div class="swiper-container bgf fs14 know-nav">
					<div class="swiper-wrapper">
						<a href="javascript:;" class="swiper-slide">分类1</a>
						<a href="javascript:;" class="swiper-slide">分类2</a>
						<a href="javascript:;" class="swiper-slide">分类3</a>
						<a href="javascript:;" class="swiper-slide">分类4</a>
						<a href="javascript:;" class="swiper-slide">分类5</a>
						<a href="javascript:;" class="swiper-slide">分类6</a>
						<a href="javascript:;" class="swiper-slide">分类7</a>
						<a href="javascript:;" class="swiper-slide on">分类8</a>
					</div>
				</div>
				<a href="javascript:;" class="flex-grow-0 course-nav__search search-btn">
					<i class="ico-search"></i>
				</a>
			</div>
			</form>
		</section>

	<section class="main">

		<a href="" class="link block bgf ptb10 pl10 arrowR fs15 red">
			为你推荐
		</a>
		<!--  -->
		<ul class="weui-row list-col-2">
			<li class="weui-col-50">
				<a href="">
						<div class="item-pic"><img src="images/index-re1.jpg" alt="" class="block"></div>
						<div class="p8 bgf">
							<p class="multi-line fix-height fs14 col0">小白熊 恒温调奶器 多功能冲泡奶粉机</p>
							<div class="single-line">
								<span class="red fs14 mr5">¥600.00</span>
								<del class="fs12 colb">¥668.00</del>
							</div>
						</div>
					</a>
			</li>
			<li class="weui-col-50">
				<a href="">
				  <div class="item-pic"><img src="images/index-re2.jpg" alt="" class="block"></div>
				  <div class="p8 bgf">
				    <p class="multi-line fix-height fs14 col0">小白熊 恒温调奶器 多功能冲泡奶粉机</p>
				    <div class="single-line">
				      <span class="red fs14 mr5">¥600.00</span>
				      <del class="fs12 colb">¥668.00</del>
				    </div>
				  </div>
				</a>
			</li>
			<li class="weui-col-50">
				<a href="">
					<div class="item-pic">
						<img src="images/index-re3.jpg" alt="" class="block">
					</div>
					<div class="p8 bgf">
						<p class="multi-line fix-height fs14 col0">小白熊 恒温调奶器 多功能冲泡奶粉机</p>
						<div class="single-line">
							<span class="red fs14 mr5">¥600.00</span>
							<del class="fs12 colb">¥668.00</del>
						</div>
					</div>
				</a>
			</li>
			<li class="weui-col-50">
				<a href="">
					<div class="item-pic">
						<img src="images/index-re4.jpg" alt="" class="block">
					</div>
					<div class="p8 bgf">
						<p class="multi-line fix-height fs14 col0">小白熊 恒温调奶器 多功能冲泡奶粉机</p>
						<div class="single-line">
							<span class="red fs14 mr5">¥600.00</span>
							<del class="fs12 colb">¥668.00</del>
						</div>
					</div>
				</a>
			</li>
		</ul>

	</section>

</section>

<section class="search-wrap bgf hide">
  <div class="flex-box flex-between fs13 relative top-search">
    <a href="javascript:;" class="fs13 mr10 col6 flex-box back-btn">
      <i class="ico-search-back"></i>
      <span>返回</span>
    </a>
    <div class="search-btn-wrap flex-grow-1 flex-box flex-between">
      <i class="ico-search flex-grow-0"></i>
      <input type="text" class="flex-grow-1" placeholder="搜索您需要的产品">
      <a href="" class="fs13 flex-grow-0 col-primary plr5">搜索</a>
    </div>
  </div>
  <ul class="clearfix p10 fs12 search-list">
    <li class="mt10">
      <a href="">全部</a>
    </li>
    <li class="mt10">
      <a href="">全部</a>
    </li>
  </ul>
</section>

<% include _to-top.html %>

<% include _foot.html %>

<script>
//搜索
$(".search-btn").on("click", function() {
  $(".search-wrap").show();
  $(".wrap").hide();
});
$(".back-btn").on("click", function() {
  $(".search-wrap").hide();
  $(".wrap").show();
});
</script>
<!-- banner Swiper -->
<script>
$(function(){
  var _index = $('.know-nav .on').index();
  var mySwiper1 = new Swiper('.know-nav',{
	  slidesPerView : 'auto',
    paginationClickable: true,
    spaceBetween: 10,
    freeMode: true,
    initialSlide: _index
  });

})
</script>
</body>
</html>
