<!doctype html>
<html>
<head>
	<title>2.1sos救援</title>
<% include _head.html %>
</head>
<body>

<section class="wrap">


	<% include _foot-fixed-common.html %>

	<section class="main">

		<form action="">
		<section class="flex-box flex-col flex-col-stretch flex-between" style="min-height:calc(100vh - 60px);">

			<ul class="fs14 col3">
				<li class="m-cell bgf bb">
					<div class="m-cell__hd flex-box"><i class="form-ico form-ico0"></i>联系人</div>
					<div class="m-cell__bd">
						<input name="" type="text" class="" placeholder="请填写">
					</div>
				</li>
				<li class="m-cell bgf bb">
					<div class="m-cell__hd flex-box"><i class="form-ico form-ico1"></i>联系电话</div>
					<div class="m-cell__bd">
						<input name="" type="text" class="" placeholder="请填写">
					</div>
				</li>
				<li class="m-cell bgf">
					<div class="m-cell__hd flex-box"><i class="form-ico form-ico2"></i>故障说明</div>
					<div class="m-cell__bd">
						<textarea name="" id="" cols="30" rows="4" placeholder="选填，100字以内"></textarea>
					</div>
				</li>
				<li class="mt10 m-cell bgf bb">
					<div class="m-cell__hd flex-box"><i class="form-ico form-ico3"></i>定位地址</div>
					<div class="m-cell__bd">
						<input name="" type="text" class="" placeholder="正在获取您的定位地点...">
					</div>
				</li>
			</ul>
			<!-- 个人资料填写 end -->
			<div class="mt15">
				<a href="" class="sos-btn ma fs15">请求救援</a>
			</div>
		</section>
		</form>
	</section>

</section>


<% include _foot.html %>
</body>
</html>
