<!doctype html>
<html>

<head>
  <title>2.3产品详情</title>
  <% include _head.html %>
</head>

<body class="">
  <section class="wrap">

  <% include _foot-fixed-detail.html %>
    <section class="main">
      <!-- Swiper -->
      <div class="swiper-container detail-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide bgf"><img src="images/detail-ban.jpg" alt="" class="block"></div>
          <div class="swiper-slide bgf"><img src="images/detail-ban.jpg" alt="" class="block"></div>
          <div class="swiper-slide bgf"><img src="images/detail-ban.jpg" alt="" class="block"></div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
      </div>
      <div class="bgf p10">
        <p class="fs16 col0 bold single-line">普吉岛7天往返含税机票(赠送5天wifi) </p>
        <p class="col6 fs13 multi-line">线上提交材料，为你快速注册公司</p>
        <!--  -->
        <div class="flex-box flex-between">
          <div class="red fs15">￥<span class="fs20 bold">688</span>/人</div>
          <div class="fs12 colb">已售：31件</div>
        </div>
        <!--  -->
        <div class="bt mt5 col9 ptb10 fs13">
          <p>
            由 <a href="" class="blue">上海西陆科技有限公司</a> 提供
          </p>
          <p class="mt5">
            <i class="Icon-star"></i>
            <span>企业</span>
            <span class="ora">1%</span>
            <span>个人</span>
            <span class="ora">8%</span>
          </p>
        </div>
        <!--  -->
      </div>
      <!--  -->
      <ul class="mt10 p10 bgf fs13 spec">
        <li class="table mt5">
          <div class="table- col9 w70">产品类型</div>
          <div class="table-cell">
            <div class="flex-box flex-wrap buy-type-list">
              <label for="buy-addr1" class="m-label">
                <input type="radio" checked="" id="buy-addr1" name="buy-addr">
                <i>普吉岛往返</i>
              </label>
              <label for="buy-addr5" class="m-label">
                <input type="radio" id="buy-addr5" name="buy-addr">
                <i>泰国旅游签证</i>
              </label>
            </div>
          </div>
        </li>
        <li class="table mt5">
          <div class="table-cell vm col9 w70">数量</div>
          <div class="table-cell vm">
            <div class="bgf tc fs14 buy_num">
              <i class="fr plus"></i>
              <input name="" type="text" class="fr tc value" value="1" disabled>
              <i class="fr minus"></i>
            </div>
          </div>
        </li>
      </ul>
      <div class="mt10 bgf p10 col9 fs14 bb">
        商品描述
      </div>
      <article class="detail-desc p10 bgf fs13 col6">
        <p>费用包含</p>
        <p>1. 北京直飞普吉岛4-30天往返特价经济舱含税机票，托 运1件行李费用（每件不超过23KG ，行程可缺口即 曼谷进普吉出或普吉进曼谷出）</p>
        <p>1. 北京直飞普吉岛4-30天往返特价经济舱含税机票，托 运1件行李费用（每件不超过23KG ，行程可缺口即 曼谷进普吉出或普吉进曼谷出）</p>
        <img src="images/detail-img1.jpg" alt="" class="mt5 block">
      </article>
    </section>
  </section>
  <!-- addr-wrap -->
  <section class="popup-wrap sepc-wrap hide">
    <div class="popup-overlay"></div>
    <div class="popup-content bgf" >
      <form action="">
      <ul class="index-group-list">
        <li>
          <a href="" class="plr10 bgf flex-box">
            <div class="item-pic flex-grow-0">
              <img src="images/index-tg1.jpg" alt="">
            </div>
            <div class="pl10 flex-box flex-between flex-grow-1 fs15">
            	<p class="col0">价格</p>
            	<p class="red">¥<span class="fs20 bold">4280</span>/人</p>
            </div>
          </a>
        </li>
      </ul>
      <ul class="plr10 pb20 bgf fs13 spec">
        <li class="mt5">
          <div class=" col9 w70">产品类型</div>
          <div class="mt5">
            <div class="flex-box flex-wrap buy-type-list">
              <label for="buy-addr1" class="m-label">
                <input type="radio" checked="" id="buy-addr1" name="buy-addr">
                <i>普吉岛往返</i>
              </label>
              <label for="buy-addr5" class="m-label">
                <input type="radio" id="buy-addr5" name="buy-addr">
                <i>泰国旅游签证</i>
              </label>
            </div>
          </div>
        </li>
        <li class="mt5">
          <div class=" col9 w70">数量</div>
          <div class="mt5">
            <div class="bgf tc fs14 buy_num">
              <i class="fr plus"></i>
              <input name="" type="text" class="fr tc value" value="1" disabled>
              <i class="fr minus"></i>
            </div>
          </div>
        </li>
      </ul>
        <div><a href="" class="btn btn-primary">关　闭</a></div>
      </form>
    </div>
  </section>
  <% include _foot.html %>
    <!-- Initialize Swiper -->
    <script>
    var swiper = new Swiper('.swiper-container', {
      pagination: '.swiper-pagination',
      paginationType: 'fraction',
      paginationClickable: true
    });
    </script>
    <!-- detail-ban end -->
    <script>
    // 购物车物品数量
    $(document).on("click", ".buy_num .plus", function() {
      $this = $(this);
      v = parseFloat($this.next().val());
      $this.next().val(v + 1);
    });
    $(document).on("click", ".buy_num .minus", function() {
      $this = $(this);
      v = parseInt($this.prev().val());
      if (v > 1) {
        $this.prev().val(v - 1);
      }
    });
    </script>
    <!-- 购买规格 -->
    <script>
    $(".gbuy-3,.gbuy-4").on("click", function() {
      $(".sepc-wrap").show();
    });
    $(".sepc-wrap .Icon-close1,.sepc-wrap .popup-overlay").on("click", function() {
      $(".sepc-wrap").hide();
    });
    </script>
</body>

</html>
