<!doctype html>
<html>
<head>
	<title>3.1保养维修</title>
<% include _head.html %>
</head>
<body>

<section class="wrap">


	<% include _foot-fixed-common.html %>

	<section class="main">

		<form action="">
		<section class="flex-box flex-col flex-col-stretch flex-between" style="min-height:calc(100vh - 50px);">

			<ul class="fs14 col3">
				<li class="m-cell flex-center bgf bb">
					<div class="m-cell__hd"><i class="form-ico form-ico4"></i>选择项目</div>
					<div class="m-cell__bd fs13 flex-box">
						<label for="maintain1" class="m-label mr10 flex-grow-1">
							<input type="radio" id="maintain1" name="maintain">
							<i>车辆维修</i>
						</label>
						<label for="maintain2" class="m-label mr10 flex-grow-1">
							<input type="radio" id="maintain2" name="maintain">
							<i>车辆保养</i>
						</label>
					</div>
				</li>
				<li class="m-cell bgf bb">
					<div class="m-cell__hd flex-box"><i class="form-ico form-ico5"></i>预约日期</div>
					<div class="m-cell__bd arrowR">
						<input name="" type="text" class="" placeholder="请选择">
					</div>
				</li>
				<li class="m-cell bgf bb">
					<div class="m-cell__hd flex-box"><i class="form-ico form-ico0"></i>预约人</div>
					<div class="m-cell__bd">
						<input name="" type="text" class="" placeholder="请填写">
					</div>
				</li>
				<li class="m-cell bgf bb">
					<div class="m-cell__hd flex-box"><i class="form-ico form-ico1"></i>联系电话</div>
					<div class="m-cell__bd">
						<input name="" type="text" class="" placeholder="请填写">
					</div>
				</li>
				<li class="m-cell bgf bb">
					<div class="m-cell__hd flex-box"><i class="form-ico form-ico6"></i>车辆选择</div>
					<div class="m-cell__bd arrowR tr">
						<input name="" type="text" class="tr" placeholder="请选择" value="已有车辆">
					</div>
				</li>
				<li class="plr15 ptb10 fs14 col9">
					填写新增车辆信息
				</li>
				<li class="m-cell bgf bb">
					<div class="m-cell__hd flex-box"><i class="form-ico form-ico10"></i>车辆品牌</div>
					<div class="m-cell__bd">
						<input name="" type="text" class="" placeholder="请选择" value="宝马3系">
					</div>
				</li>
				<li class="m-cell bgf bb">
					<div class="m-cell__hd flex-box"><i class="form-ico form-ico11"></i>车辆车型</div>
					<div class="m-cell__bd">
						<input name="" type="text" class="" placeholder="请选择" value="跑车">
					</div>
				</li>
				<li class="m-cell bgf bb">
					<div class="m-cell__hd flex-box"><i class="form-ico form-ico12"></i>车辆车牌</div>
					<div class="m-cell__bd">
						<input name="" type="text" class="" placeholder="请填写" value="苏A97797">
					</div>
				</li>
				<li class="plr15 ptb10 fs14 col9">
					预约提交后，我们的客服将与您线下沟通
				</li>
			</ul>
			<!-- 个人资料填写 end -->
			<div class="mt15">
				<a href="" class="sos-btn ma fs15">立即预约</a>
			</div>
		</section>
		</form>
	</section>

</section>


<% include _foot.html %>
</body>
</html>
