<!doctype html>
<html>
	<head>
	<title>5.10.2投票</title>
	<% include _head.html %>
	</head>
<body>

	<section class="wrap">

			<!--   -->
			<div class="bottom-fixed">
				<a href="" class="btn btn-primary">提交</a>
			</div>

		<section class="main">
		<form action="">

			<ul class="fs13 col-30 last">
				<li class="flex-box p10 bb bgf">
					<p class="w80 flex-grow-0">您的投票</p>
					<div class="flex-box">
						<label for="vote1" class="m-label" style="margin-bottom: 0">
							<input type="radio" class="" name="vote" id="vote1" checked="">
							<i>正票支持</i>
						</label>
						<label for="vote2" class="m-label" style="margin-bottom: 0">
							<input type="radio" class="" name="vote" id="vote2">
							<i>负票反对</i>
						</label>
					</div>
				</li>
				<li class="flex-box flex-col-start p10 bb bgf">
					<span class="w80 flex-grow-0">投票理由</span>
					<div class="">
						<textarea name="" class="form_text ffm" id="" cols="30" rows="5" placeholder="请输入您的投票理由" style="padding: 2px"></textarea>
					</div>
				</li>
			</ul>
</form>
		</section>
	</section>


<!-- city-pick -->

<% include _foot.html %>
</body>
</html>