<!doctype html>
<html>
<head>
	<title>5.10.1投票详情</title>
<% include _head.html %>
</head>
<body>
<section class="wrap">

	<div class="bottom-fixed">
	  <a href="" class="btn btn-primary">去投票</a>
	</div>


	<section class="main">

		<div class="vote-list bb">
			<a href="" class="p10 bgf flex-box">
				<div class="item-pic flex-grow-0 br50">
					<img src="images/index-tg1.jpg" alt="">
				</div>
				<div class="pl10 flex-grow-1 hidden fs14 col0">
					<p>用户A</p>
					<p>累计消费：<span class="red">¥200.0</span></p>
					<p class="single-line">
						所属：上海西陆信息科技有限公司
					</p>
				</div>
			</a>
		</div>

		<ul class="fs14 col-30 last">
			<li class="p10 bb flex-box flex-col-start bgf">
				<p class="w80 col6 flex-grow-0">申请事由</p>
				<div>Customeed 的整体设计给人感觉非常舒服，页面的背景渐变色使用的绿色</div>
			</li>
			<li class="p10 bb flex-box flex-col-start bgf">
				<p class="w80 col6 flex-grow-0">申请金额</p>
				<div>¥3000.0</div>
			</li>
			<li class="p10 bb flex-box flex-col-start bgf">
				<p class="w80 col6 flex-grow-0">图片凭证</p>
				<div class="flex-box flex-wrap d-item-pic-wrap">
					<div class="item-pic ba" style="width:65px;height:65px;">
							<img src="images/index-tg1.jpg" alt="" class="">
						</div>
					<div class="item-pic ba" style="width:65px;height:65px;">
							<img src="images/index-tg1.jpg" alt="" class="">
						</div>
					<div class="item-pic ba" style="width:65px;height:65px;">
							<img src="images/index-tg1.jpg" alt="" class="">
						</div>
					<div class="item-pic ba" style="width:65px;height:65px;">
							<img src="images/index-tg1.jpg" alt="" class="">
						</div>
					<div class="item-pic ba" style="width:70px;height:70px;">
							<img src="images/index-tg1.jpg" alt="" class="">
						</div>
				</div>
			</li>
		</ul>

		<div class="mt10 bgf p10">
				<div href="" class="block arrowR flex-box flex-between">
					<ul class="flex-box flex-start join-list">
						<li class="item-pic mr10 block br50">
							<img src="images/default-avatar.jpg" alt="" class="block">
							<span class="tag tag-red">正</span>
						</li>
						<li class="item-pic mr10 block br50">
							<img src="images/default-avatar.jpg" alt="" class="block">
							<span class="tag tag-blue">负</span>
						</li>
						<li class="item-pic mr10 block br50">
							<img src="images/default-avatar.jpg" alt="" class="block">
							<span class="tag tag-red">正</span>
						</li>
						<li class="item-pic mr10 block br50">
							<img src="images/default-avatar.jpg" alt="" class="block">
							<span class="tag tag-red">正</span>
						</li>
						<li class="item-pic mr10 block br50">
							<img src="images/default-avatar.jpg" alt="" class="block">
							<span class="tag tag-red">正</span>
						</li>
					</ul>
					<a href="" class="block pr5 fs13 col9 flex-grow-0">更多投票</a>
				</div>
		</div>

	</section>


</section>


<% include _foot.html %>
</body>
</html>