<!doctype html>
<html>
<head>
	<title>5.1个人中心</title>
<% include _head.html %>
</head>
<body>

<section class="wrap">

<% include _foot-fixed-common.html %>

	<section class="main">

		<div class="member-head">
			<div class="flex-box">
				<div class="avatar br50 memberDown flex-grow-0">
					<div class="item-pic br50">
						<img src="images/default-avatar.jpg" alt="" class="block">
					</div>
				</div>
				<div class="pl15 colf fs13 info memberLeft">
					<p class="fs18 pr20 name">yonghuming</p>
					<div class="mt10">
						<a href="" class="addr-guan colf fs12">
							查看个人主页
							<img src="images/mem-l.png" class="" alt="">
						</a>
					</div>
				</div>
			</div>
			<a href="" class="member-head__set colf">
				<i></i>
				<p>设置</p>
			</a>
		</div>
		<!--  -->
		<ul class="bb last fs14 member-body">
			<li class="bgf">
				<div class="plr10">
					<a href="javascript:;" class="ptb10 block"><i class="mem-ico0"></i>订单中心</a>
				</div>
				<div class="table bt tc fs12 member-nav">
					<a href="" class="table-cell vm ptb10">
						<i class="mem-ico1 hint-num"><em></em></i>
						<p class="mt5">待付款</p>
					</a>
					<a href="" class="table-cell vm ptb10">
						<i class="mem-ico2"></i>
						<p class="mt5">待发货</p>
					</a>
					<a href="" class="table-cell vm ptb10">
						<i class="mem-ico3"></i>
						<p class="mt5">待收货</p>
					</a>
					<a href="" class="table-cell vm ptb10">
						<i class="mem-ico4"></i>
						<p class="mt5">已完成</p>
					</a>
					<a href="" class="table-cell vm ptb10">
						<i class="mem-ico5"></i>
						<p class="mt5">退　款</p>
					</a>
				</div>
			</li>
			<li class="mt10 bgf">
				<div class="plr10">
					<a href="javascript:;" class="ptb10 block"><i class="mem-ico6"></i>我的福利</a>
				</div>
				<div class="table bt tc fs12 member-nav">
					<a href="" class="table-cell vm ptb10">
						<i class="mem-ico7 hint-num"><em></em></i>
						<p class="mt5">申请补助</p>
					</a>
					<a href="" class="table-cell vm ptb10">
						<i class="mem-ico8"></i>
						<p class="mt5">待审核</p>
					</a>
					<a href="" class="table-cell vm ptb10">
						<i class="mem-ico9"></i>
						<p class="mt5">投票中</p>
					</a>
					<a href="" class="table-cell vm ptb10">
						<i class="mem-ico10"></i>
						<p class="mt5">待发放</p>
					</a>
					<a href="" class="table-cell vm ptb10">
						<i class="mem-ico11"></i>
						<p class="mt5">完成/失败</p>
					</a>
				</div>
			</li>
			<li class="mt10 bgf pl15 bb">
				<a href="" class="arrowR"><i class="mem-ico12"></i>我的贡献</a>
			</li>
			<li class="bgf pl15 bb">
				<a href="" class="arrowR"><i class="mem-ico13"></i>我的积分<!-- <span class="fr mr10 colred">¥1510.0</span> --></a>
			</li>
			<li class="bgf pl15 bb">
				<a href="" class="arrowR"><i class="mem-ico14"></i>我的客服</a>
			</li>
		</ul>
		<!-- 个人中心-菜单 end -->


	</section>

</section>

<% include _foot.html %>
<!-- Initialize Swiper -->
</body>
</html>
