<!doctype html>
<html>
<head>
	<title>5.3.1收货地址</title>
<% include _head.html %>
</head>
<body>
<section class="wrap">

	<div class="bottom-fixed">
		<a href="" class="br5 btn btn-primary"><i class="Ico-add"></i>新建收货地址</a>
	</div>
	<!-- 新增收货地址 end -->
	<section class="main">

	<div class="p10 item-info item-default">
		<a href="" class="fs14 col3 item-hd arrowR">
			<span><i class="mr5 ico-user"></i>用户A</span>
			<span class="ml10"><i class="mr5 ico-tel"></i>123****1234</span>
			<span class="ml10 fs12 colf item-tag">默认地址</span>
			<p class="pt10">上海徐汇区石龙路569号2号楼201室</p>
		</a>
		<div class="clearfix mt10 pt10 bt fs12 item-ft">
			<span class="fr link">
				<a href="#" class="col6"><i class="mr5 ico-edit"></i>编辑</a>
				<a href="#" class="ml10 col6"><i class="mr5 ico-del"></i>删除</a>
			</span>
		</div>
	</div>
	<!-- 默认地址 end -->

	<ul class="address_admin">
		<li class="mt10 p10 btb bgf item-info">
			<div class="fs14 col3 item-hd">
				<span><i class="mr5 ico-user"></i>用户A</span>
				<span class="ml10"><i class="mr5 ico-tel"></i>123****1234</span>
				<p class="pt10">上海徐汇区石龙路569号2号楼201室</p>
			</div>
			<div class="clearfix mt10 pt10 bt fs12 item-ft">
				<a href="#" class="fl br5 set">设为默认地址</a>
				<span class="fr link">
					<a href="#" class="col6"><i class="mr5 ico-edit"></i>编辑</a>
					<a href="#" class="ml10 col6"><i class="mr5 ico-del"></i>删除</a>
				</span>
			</div>
		</li>
		<li class="mt10 p10 btb bgf item-info">
			<div class="fs14 col3 item-hd">
				<span><i class="mr5 ico-user"></i>用户A</span>
				<span class="ml10"><i class="mr5 ico-tel"></i>123****1234</span>
				<p class="pt10">上海徐汇区石龙路569号2号楼201室</p>
			</div>
			<div class="clearfix mt10 pt10 bt fs12 item-ft">
				<a href="#" class="fl br5 set">设为默认地址</a>
				<span class="fr link">
					<a href="#" class="col6"><i class="mr5 ico-edit"></i>编辑</a>
					<a href="#" class="ml10 col6"><i class="mr5 ico-del"></i>删除</a>
				</span>
			</div>
		</li>
	</ul>
	<!-- 地址列表 end -->

	<div class="tc nothing">
		<i><img src="images/default-none-site.png" alt="" class="imgm"></i>
		<span class="mt10 fs14 col9">您还没有地址<br>赶快去添加吧！</span>
	</div>
	<!-- 暂无收货地址 end -->

	</section>

</section>



<% include _foot.html %>

</body>
</html>