<!doctype html>
<html>
<head>
	<title>5.4.1我的救援</title>
<% include _head.html %>
</head>
<body>
<section class="wrap">

	<section class="main">

		<ul class="fs12">
			<li class="mb10 pl15 btb bgf">
				<div class="flex-box flex-between ptb10 pr10 bb fs12 col9 item-hd">
					<p>#201607191613241526</p>
					<em class="red">等待救援中</em>
				</div>
				<div class="ptb10 pr10 bgf col9">
					<p class="single-line mb5 fs14 col0">
						车刮蹭了路边花坛
					</p>
					<p>电话：13965848552</p>
					<p>地址：徐汇区石龙路569号</p>
				</div>
				<div class="bt ptb10 pr10 fs12 flex-box flex-between">
					<span class="single-line fs13 col9">2017.02.27 15:19申请救援</span>
					<div class="flex-grow-0">
						<a href="" class="btn-mini">查看回复</a>
					</div>
				</div>
			</li>
			<li class="mb10 pl15 btb bgf">
				<div class="flex-box flex-between ptb10 pr10 bb fs12 col9 item-hd">
					<p>#201607191613241526</p>
					<em class="red">救援结束</em>
				</div>
				<div class="ptb10 pr10 bgf col9">
					<p class="single-line mb5 fs14 col0">
						车刮蹭了路边花坛
					</p>
					<p>电话：13965848552</p>
					<p>地址：徐汇区石龙路569号</p>
					<p>救援时间：2016.02.27 15:30</p>
				</div>
				<div class="bt ptb10 pr10 fs12 flex-box flex-between">
					<span class="single-line fs13 col9">2017.02.27 15:19申请救援</span>
					<div class="flex-grow-0">
						<a href="" class="btn-mini">查看回复</a>
					</div>
				</div>
		</ul>
		<!-- 待支付 end -->

		<div class="tc nothing">
			<i><img src="images/default-none-order.png" alt="" class="imgm"></i>
			<span class="mt10 fs14 col9">您还没有相关救援信息！</span>
		</div>
		<!-- 已完成 end -->
	</section>


</section>

<% include _foot.html %>
</body>
</html>