<!doctype html>
<html>
<head>
	<title>5.4个人主页</title>
<% include _head.html %>
</head>
<body>

<section class="wrap">

	<section class="main">

		<div class="member-head">
			<div class="flex-box">
				<div class="avatar memberDown item-pic br50 flex-grow-0">
					<img src="images/default-avatar.jpg" alt="" class="block">
				</div>
				<div class="pl15 colf fs13 info memberLeft">
					<p class="fs18 pr20 name">yonghuming</p>
					<div class="mt10 fs13 colf">
						<p class=""><i class="Icon-ratio mr5"></i>报销20%</p>
						<p>所属上海西陆科技有限公司</p>
					</div>
				</div>
			</div>
			<!-- <a href="" class="member-head__set colf">
				<i></i>
				<p>设置</p>
			</a> -->
		</div>
		<!--  -->
		<div class="table index-nav fs12 tc bgf self-nav">
			<a href="" class="table-cell bb br">
				<p class="fs18 ora bold">381540</p>
				<p class="">总消费金额(元)</p>
			</a>
			<a href="" class="table-cell bb br">
				<p class="fs18 blue bold">6325</p>
				<p class="">累计获得补助(元)</p>
			</a>
		</div>
		<div class="table index-nav fs12 tc bgf">
			<a href="" class="table-cell bb br">
				<p class="fs18 green bold">381540</p>
				<p class="">正票数量(张)</p>
			</a>
			<a href="" class="table-cell bb br">
				<p class="fs18 col9 bold">2</p>
				<p class="">负票数量(张)</p>
			</a>
		</div>
		<!-- 个人中心-菜单 end -->


	</section>

</section>

<% include _foot.html %>
</body>
</html>
