<!doctype html>
<html>
<head>
	<title>5.5.3查看物流</title>
	<% include _head.html %>
</head>
<body>
<section class="wrap">
	<div class="view_logistics">
		<div class="p10 btb bgf fs13 col3 item-hd">
			<p>送货方式：普通快递</p>
			<p class="mt5">承运人：顺丰快递</p>
			<p class="mt5">快递单号：123456789012</p>
		</div>
		<ul class="mt10 bgf bb col9 item-bd">
			<li class="p10 bb">
				<p class="fs13">上海市浦东区三林 已收入</p>
				2016-04-07 12:59
			</li>
			<li class="p10 bb">
				<p class="fs13">上海市浦东区三林 已收入</p>
				2016-04-07 12:59
			</li>
			<li class="p10 bb">
				<p class="fs13">上海市浦东区三林 已收入</p>
				2016-04-07 12:59
			</li>
			<li class="p10 bb">
				<p class="fs13">上海转运中心公司 已发出</p>
				2016-04-07 12:59
			</li>
		</ul>
	</div>

</section>

<% include _foot.html %>
</body>
</html>