<!doctype html>
<html>
<head>
	<title>5.5.2预约详情</title>
<% include _head.html %>
</head>
<body>
<section class="wrap">

	<div class="bottom-fixed">
		<a href="" class="btn btn-primary" style="background-color:#fa8631; ">
			新建维护车辆
		</a>
	</div>

	<section class="main">

		<ul class="car-list last">
			<li class="flex-box p10 bgf bb">
				<div class="item-pic ba flex-grow-0">
					<img src="images/list-img1.jpg" alt="">
				</div>
				<div class="pl10 flex-grow-1 flex-self-stretch flex-box flex-col flex-between flex-col-stretch">
					<p class="fs14 col0">
						<span class="mr10">丰田 - 普拉多</span>
						<span class="">白色</span>
					</p>
					<div class="flex-box flex-between col-7d hidden">
						<p class="single-line">沪A77N86</p>
						<div class="item-info fs12">
							<a href="#" class="col6"><i class="mr5 ico-edit"></i>编辑</a>
							<a href="#" class="ml10 col6"><i class="mr5 ico-del"></i>删除</a>
						</div>
					</div>
				</div>
			</li>
			<li class="flex-box p10 bgf bb">
				<div class="item-pic ba flex-grow-0">
					<img src="images/list-img1.jpg" alt="">
				</div>
				<div class="pl10 flex-grow-1 flex-self-stretch flex-box flex-col flex-between flex-col-stretch">
					<p class="fs14 col0">
						<span class="mr10">丰田 - 普拉多</span>
						<span class="">白色</span>
					</p>
					<div class="flex-box flex-between col-7d hidden">
						<p class="single-line">沪A77N86</p>
						<div class="item-info fs12">
							<a href="#" class="col6"><i class="mr5 ico-edit"></i>编辑</a>
							<a href="#" class="ml10 col6"><i class="mr5 ico-del"></i>删除</a>
						</div>
					</div>
				</div>
			</li>
		</ul>

	</section>


</section>

<% include _foot.html %>
</body>
</html>