<!doctype html>
<html>
	<head>
	<title>5.6.1申请福利</title>
	<% include _head.html %>
	</head>
<body>

	<section class="wrap">

			<!--  -->
			<div class="bottom-fixed">
				<a href="" class="btn btn-primary">提交</a>
			</div>

		<section class="main">

			<ul class="fs13 col-30">
				<li class="flex-box p10 bb bgf">
					<p class="w80 flex-grow-0">发票金额</p>
					<input type="text" class="form_inp flex-grow-1" value="2300.00">
					<span class="flex-grow-0 blue1">元</span>
				</li>
				<li class="flex-box p10 bb bgf">
					<p class="w80 flex-grow-0">可报销金额</p>
					<input type="text" class="form_inp flex-grow-1" value="" placeholder="根据您的报销比例自动计算">
					<span class="flex-grow-0 blue1">元</span>
				</li>
				<li class="flex-box flex-col-start p10 bb bgf">
					<span class="w80 flex-grow-0">问题描述</span>
					<div class="">
						<textarea name="" class="form_text ffm" id="" cols="30" rows="5" placeholder="请输入" style="padding: 2px"></textarea>
					</div>
				</li>
			</ul>

			<div class="bgf col3 fs13">
				<div class="flex-box plr10 pt10 bgf">
					<p class="w80 flex-grow-0">发票金额</p>
					<p class="col9">上传内容为发票等相关内容</p>
				</div>
				<ul class="p10 clearfix multi-upload fs13 bgf">
					<li class="mt10 mr10 ba upload-img" style="background-image:url(./images/default-upload-img.png);"><a href="javascript:;" class="br50 upload-close"></a></li>
					<li class="mt10 mr10 ba upload-img" style="background-image:url(./images/default-upload-img.png);"><a href="javascript:;" class="br50 upload-close"></a></li>
					<li class="mt10 mr10 ba upload-img" style="background-image:url(./images/default-upload-img.png);"><a href="javascript:;" class="br50 upload-close"></a></li>
					<li class="mt10 ba upload-file"></li>
				</ul>
			</div>

		</section>
	</section>


<!-- city-pick -->

<% include _foot.html %>
</body>
</html>