<!doctype html>
<html>
<head>
	<title>5.6.2福利</title>
<% include _head.html %>
</head>
<body>
<section class="wrap">

	<div class="top-fixed">
		<div class="table bgf bb tc fs14 order_nav">
			<a href="" class="table-cell"><span class="hint-num">待审核<em>2</em></span></a>
			<a href="" class="table-cell active"><span class="hint-num">投票中<em>2</em></span></a>
			<a href="" class="table-cell"><span>待发放</span></a>
			<a href="" class="table-cell"><span>完成/失败</span></a>
		</div>
	</div>


	<section class="main">

		<ul class="">
			<li class="mb10 plr10 bgf">
				<div class="flex-box flex-between ptb10 bb fs12 col9 item-hd">
					<p>2017.02.17申请</p>
					<em class="red">等待审核中</em>
				</div>
				<a href="" class="block ptb10 pr10 bgf single-line fs15 col0">
					申请事由是在跳平民身份的人当中找出某个人...
				</a>
				<div class="pb10">
					<p class="fs13 col9">金额</p>
					<p class="fs14 col0">3000.0</p>
				</div>
			</li>
		</ul>
		<!-- 待审核 end -->

		<ul class="">
			<li class="mb10 plr10 bgf">
				<div class="flex-box flex-between ptb10 bb fs12 col9 item-hd">
					<p>2017.02.17申请</p>
					<em class="red">投票中</em>
				</div>
				<a href="" class="block ptb10 pr10 bgf single-line fs15 col0">
					申请事由是在跳平民身份的人当中找出某个人...
				</a>
				<div class="pb10 table">
					<div class="table-cell" style="width: 50%">
						<p class="fs13 col9">金额</p>
						<p class="fs14 col0">3000.0</p>
					</div>
					<div class="tr table-cell">
						<p class="fs13 col9">正票数</p>
						<p class="fs14 red">13</p>
					</div>
					<div class="tr table-cell">
						<p class="fs13 col9">负票数</p>
						<p class="fs14 blue1">7</p>
					</div>
				</div>
				<div class="bt ptb10 fs12 flex-box flex-between">
					<span class="single-line fs13 col6">正票数须达18票可成功申请</span>
					<div class="flex-grow-0">
						<a href="" class="btn-mini btn-mini_outlined">分享拉票</a>
					</div>
				</div>
			</li>
			<li class="mb10 plr10 bgf">
				<div class="flex-box flex-between ptb10 bb fs12 col9 item-hd">
					<p>2017.02.17申请</p>
					<em class="red">投票中</em>
				</div>
				<a href="" class="block ptb10 pr10 bgf single-line fs15 col0">
					申请事由是在跳平民身份的人当中找出某个人...
				</a>
				<div class="pb10 table">
					<div class="table-cell" style="width: 50%">
						<p class="fs13 col9">金额</p>
						<p class="fs14 col0">3000.0</p>
					</div>
					<div class="tr table-cell">
						<p class="fs13 col9">正票数</p>
						<p class="fs14 red">13</p>
					</div>
					<div class="tr table-cell">
						<p class="fs13 col9">负票数</p>
						<p class="fs14 blue1">7</p>
					</div>
				</div>
				<div class="bt ptb10 fs12 flex-box flex-between">
					<span class="single-line fs13 col6">正票数须达18票可成功申请</span>
					<div class="flex-grow-0">
						<a href="" class="btn-mini btn-mini_outlined">分享拉票</a>
					</div>
				</div>
			</li>
		</ul>
		<!-- 投票中 end -->



		<ul class="">
			<li class="mb10 plr10 bgf">
				<div class="flex-box flex-between ptb10 bb fs12 col9 item-hd">
					<p>2017.02.17申请</p>
					<em class="red">等待发放中</em>
				</div>
				<a href="" class="block ptb10 pr10 bgf single-line fs15 col0">
					申请事由是在跳平民身份的人当中找出某个人...
				</a>
				<div class="pb10 table">
					<div class="table-cell" style="width: 50%">
						<p class="fs13 col9">金额</p>
						<p class="fs14 col0">3000.0</p>
					</div>
					<div class="tr table-cell">
						<p class="fs13 col9">正票数</p>
						<p class="fs14 red">18</p>
					</div>
					<div class="tr table-cell">
						<p class="fs13 col9">负票数</p>
						<p class="fs14 blue1">7</p>
					</div>
				</div>
			</li>
		</ul>
		<!-- 等待发放 -->


		<ul class="">
			<li class="mb10 plr10 bgf">
				<div class="flex-box flex-between ptb10 bb fs12 col9 item-hd">
					<p>2017.02.17申请</p>
					<em class="red">申请通过</em>
				</div>
				<a href="" class="block ptb10 pr10 bgf single-line fs15 col0">
					申请事由是在跳平民身份的人当中找出某个人...
				</a>
				<div class="pb10 table">
					<div class="table-cell" style="width: 50%">
						<p class="fs13 col9">金额</p>
						<p class="fs14 col0">3000.0</p>
					</div>
					<div class="tr table-cell">
						<p class="fs13 col9">正票数</p>
						<p class="fs14 red">18</p>
					</div>
					<div class="tr table-cell">
						<p class="fs13 col9">负票数</p>
						<p class="fs14 blue1">7</p>
					</div>
				</div>
			</li>
			<li class="mb10 plr10 bgf">
				<div class="flex-box flex-between ptb10 bb fs12 col9 item-hd">
					<p>2017.02.17申请</p>
					<em class="red">申请失败</em>
				</div>
				<a href="" class="block ptb10 pr10 bgf single-line fs15 col0">
					申请事由是在跳平民身份的人当中找出某个人...
				</a>
				<div class="pb10 table">
					<div class="table-cell" style="width: 50%">
						<p class="fs13 col9">金额</p>
						<p class="fs14 col0">3000.0</p>
					</div>
					<div class="tr table-cell">
						<p class="fs13 col9">正票数</p>
						<p class="fs14 red">18</p>
					</div>
					<div class="tr table-cell">
						<p class="fs13 col9">负票数</p>
						<p class="fs14 blue1">7</p>
					</div>
				</div>
			</li>
		</ul>
		<!-- 完成/失败 -->

		<div class="tc nothing">
			<i><img src="images/default-none-order.png" alt="" class="imgm"></i>
			<span class="mt10 fs14 col9">您还没有订单<br>赶快去购物吧！</span>
		</div>
		<!-- 已完成 end -->
	</section>


</section>

<% include _foot.html %>
</body>
</html>