<!doctype html>
<html>
<head>
	<title>5.6.2添加车辆</title>
<% include _head.html %>
</head>
<body>

<section class="wrap">

	<section class="main">

		<form action="">
		<section class="flex-box flex-col flex-col-stretch flex-between" style="min-height:100vh;">

			<ul class="fs14 col3"><li class="m-cell bgf bb">
					<div class="m-cell__hd flex-box"><i class="form-ico form-ico7"></i>车辆品牌</div>
					<div class="m-cell__bd arrowR">
						<input name="" type="text" class="" placeholder="请选择">
					</div>
				</li>
				<li class="m-cell bgf bb">
					<div class="m-cell__hd flex-box"><i class="form-ico form-ico8"></i>车辆车型</div>
					<div class="m-cell__bd arrowR">
						<input name="" type="text" class="" placeholder="请选择">
					</div>
				</li>
				<li class="m-cell bgf bb">
					<div class="m-cell__hd flex-box"><i class="form-ico form-ico15"></i>车辆颜色</div>
					<div class="m-cell__bd">
						<input name="" type="text" class="" placeholder="请填写">
					</div>
				</li>
				<li class="m-cell bgf bb">
					<div class="m-cell__hd flex-box"><i class="form-ico form-ico9"></i>车辆车牌</div>
					<div class="m-cell__bd">
						<input name="" type="text" class="" placeholder="请填写">
					</div>
				</li>
				<li class="m-cell bgf">
					<div class="m-cell__hd flex-box"><i class="form-ico form-ico16"></i>车辆照片</div>
					<div class="m-cell__bd">
						<p class="col9">请上传车辆的实拍图</p>
					</div>
				</li>
				<li>
					<ul class="plr10 pb10 clearfix multi-upload fs13 bgf">
						<li class="mt10 mr10 ba upload-img" style="background-image:url(./images/default-upload-img.png);"><a href="javascript:;" class="br50 upload-close"></a></li>
						<li class="mt10 mr10 ba upload-img" style="background-image:url(./images/default-upload-img.png);"><a href="javascript:;" class="br50 upload-close"></a></li>
						<li class="mt10 mr10 ba upload-img" style="background-image:url(./images/default-upload-img.png);"><a href="javascript:;" class="br50 upload-close"></a></li>
						<li class="mt10 ba upload-file"></li>
					</ul>
				</li>
			</ul>
			<!-- 个人资料填写 end -->
			<div class="mt15">
				<a href="" class="btn btn-primary" style="background-color:#fa8631 ">确认添加</a>
			</div>
		</section>
		</form>
	</section>

</section>


<% include _foot.html %>
</body>
</html>
