<!doctype html>
<html>
<head>
	<title>c-5.2企业员工名录</title>
	<% include _head.html %>
</head>
<body>
<section class="wrap">

	<section class="main">

		<div class="p10 member-head jifen-head c-member-head">
			<div class="colf tc fs14 info">
				<p class="">员工累计消费总金额(元)</p>
				<p class="fs40 name">24,571.00</p>
				<p class="mt10">共有 200 名员工</p>
			</div>
		</div>

		<div class="fs13 last">
			<a href="" class="flex-box flex-between bgf bb ptb10 plr15">
				<div class="item-pic flex-grow-0 br50 c-yuangong-avatar">
					<img src="images/default-avatar.jpg" alt="" class="block">
				</div>
				<div class="pl15 flex-grow-1">
					<p class="flex-box flex-between fs14">
						<span class="single-line single-line col0">
							公司员工1
						</span>
						<span class="red">
							¥20000.0
						</span>
					</p>
					<p class="mt10 fs13 col9">
						2016.09.12 11:59:24 加入
					</p>
				</div>
			</a>
			<a href="" class="flex-box flex-between bgf bb ptb10 plr15">
				<div class="item-pic flex-grow-0 br50 c-yuangong-avatar">
					<img src="images/default-avatar.jpg" alt="" class="block">
				</div>
				<div class="pl15 flex-grow-1">
					<p class="flex-box flex-between fs14">
						<span class="single-line single-line col0">
							公司员工1
						</span>
						<span class="red">
							¥20000.0
						</span>
					</p>
					<p class="mt10 fs13 col9">
						2016.09.12 11:59:24 加入
					</p>
				</div>
			</a>
			<a href="" class="flex-box flex-between bgf bb ptb10 plr15">
				<div class="item-pic flex-grow-0 br50 c-yuangong-avatar">
					<img src="images/default-avatar.jpg" alt="" class="block">
				</div>
				<div class="pl15 flex-grow-1">
					<p class="flex-box flex-between fs14">
						<span class="single-line single-line col0">
							公司员工1
						</span>
						<span class="red">
							¥20000.0
						</span>
					</p>
					<p class="mt10 fs13 col9">
						2016.09.12 11:59:24 加入
					</p>
				</div>
			</a>
		</div>





	</section>


</section>

<% include _foot.html %>

</body>
</html>