<!doctype html>
<html>
<head>
	<title>c-5.1个人中心</title>
<% include _head.html %>
</head>
<body>

<section class="wrap">

<% include _foot-fixed-self.html %>

	<section class="main">

		<div class="member-head">
			<div class="flex-box">
				<div class="avatar br50 memberDown flex-grow-0">
					<div class="item-pic br50">
						<img src="images/default-avatar.jpg" alt="" class="block">
					</div>
				</div>
				<div class="pl15 colf fs13 info memberLeft">
					<p class="fs16 name">上海西陆信息科技有限公司</p>
					<div class="mt10">
						<a href="" class="addr-guan colf fs12 bg-blue">
							累计消费 ¥20,143,000.0
							<img src="images/mem-l.png" class="" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
		<!--  -->
		<ul class="mb10 last fs14 member-body">
			<li class="bgf plr15 bb">
				<a href="" class="arrowR"><i class="mem-ico12"></i>企业员工名录<span class="fr mr10 red">200人</span></a>
			</li>
			<li class="bgf plr15 bb">
				<a href="" class="arrowR"><i class="mem-ico13"></i>企业福利池<span class="fr mr10 red">¥1510.0</span></a>
			</li>
			<li class="bgf plr15 bb">
				<a href="" class="arrowR"><i class="mem-ico15"></i>申请福利</a>
			</li>
			<li class="bgf plr15 bb">
				<a href="" class="arrowR"><i class="mem-ico16"></i>查询申请</a>
			</li>
			<li class="bgf plr15 bb">
				<a href="" class="arrowR"><i class="mem-ico14"></i>我的客服</a>
			</li>
		</ul>
		<!-- 个人中心-菜单 end -->


	</section>

</section>

<% include _foot.html %>
<!-- Initialize Swiper -->
</body>
</html>
